<h1>Записаься</h1>
<p>На єтой страницэ вы можите записаться</p>

<br/>

<form action="/visit" method="POST" role ="form">

  <div class="form-group">
    <label for="exampleFormControlInput1">Ваше имя</label>
    <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Никалай Вацко">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput2">Ваш телефон</label>
    <input name="phone" type="text" class="form-control" id="exampleFormControlInput2" placeholder="0969131308">
  </div>

    <div class="form-group">
    <label for="exampleFormControlInput3">Дата й час</label>
    <input name="data" type="text" class="form-control" id="exampleFormControlInput3" placeholder="02.06.1990 10:00">
  </div>

    <div class="form-group">
    <label for="exampleFormControlSelect1">Виберіть перукаря</label>
    <select name="barber" class="form-control" id="exampleFormControlSelect1">
      <option>До любого вільного</option>
      <option>Зіна</option>
      <option>Олександр</option>
      <option>Соня</option>
      <option>Тамара</option>
      <option>Ліза</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Записатись</button>
</form>