<h1>Add new post</h1>
<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Write your massege here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type text post here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Написати</button>
</form>