<h1>Add new post</h1>
<form action="/new" method="POST" role="form">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Write your massege here</label>
        <textarea name="content" style="width:400px;" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type text post here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Написати</button>
</form>