<h1>Walcom to barber Shop</h1>


<p>We are open</p>

<form action="/" method ="POST">
    <label for="user_name">Your name</label><br>
    <input type="text" name="user_name" /><br>
    <br>
    <label for="phone">Phone</label><br>
    <input type="text" name="phone" /><br>
    <br>
    <label for="data_time">Time</label><br>
    <input type="text" name="date_time" /><br>
    <br>
    <input type="submit">
</form>