
<h2>Main rubric</h2>
<br>
    <% @rubrics.each do |item| %>
        <div class="card" style="width: 18rem;">
        <img style="width:150px;" class="card-img-top" src="<%=item['image']%>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%=item['name']%></h5>
                <p class="card-text"><%=item['content']%></p>
                <a href="/rubric/<%=item['id']%>" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    <% end %>